/* 
  ARCHIVO DEPRECADO - MODULARIZADO EN VARIOS ARCHIVOS CSS
  
  Archivos modulares disponibles:
  - main.css ........... Estilos globales, header, títulos
  - buttons.css ........ Botón WhatsApp
  - forms.css .......... Formularios y contacto
  - cards.css .......... Tarjetas principales
  - services.css ....... Sección de servicios
  - products.css ....... Sección de productos
  - footer.css ......... Redes sociales
  - modal.css .......... Modal de productos
  - clients.css ........ Clientes
  
  Todos estos archivos se importan automáticamente 
  desde index.css, que es el archivo maestro.
*/

@import url('./index.css');
