<footer class="footer-dark">
  <div class="footer-content text-center py-4">
    <!--<h2>Contacto</h2>-->
    <ul class="footer-social list-inline mb-3">
      <li class="list-inline-item" data-bs-toggle="tooltip" title="Instagram">
        <a
          href="https://www.instagram.com/caz_insumos_industriales/"
          target="_blank"
          aria-label="Instagram CAZ Insumos Industriales"
        >
          <i class="bi bi-instagram"></i>
        </a>
      </li>

      <li class="list-inline-item" data-bs-toggle="tooltip" title="Facebook">
        <a
          href="https://www.facebook.com/caz.insumos.industriales"
          target="_blank"
          aria-label="Facebook CAZ Insumos Industriales"
        >
          <i class="bi bi-facebook"></i>
        </a>
      </li>

      <li
        class="list-inline-item"
        data-bs-toggle="tooltip"
        title="Enviar email"
        aria-label="Enviar email a CAZ Insumos Industriales"
      >
        <a href="mailto:caz.insumos.industriales@gmail.com">
          <i class="bi bi-envelope"></i>
        </a>
      </li>
    </ul>
    <address class="footer-address">
      <span>📍 San Miguel de Tucumán, Tucumán, Argentina</span>
      <span>📞 +54 381 401 7066</span>
      <span>✉️ caz.insumos.industriales@gmail.com</span>
    </address>

    <p class="footer-copy">
      © 2026 Santiago Di Colantonio · Todos los derechos reservados
    </p>
  </div>
</footer>
