    <nav class="navbar navbar-caz border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Marca -->
    <a class="navbar-brand d-flex align-items-center gap-2" href="../index.html">
      <img
        src="../IMG/logo.jpeg"
        alt="Logo"
        width="30"
        height="30"
      />
      <span>CAZ Insumos Industriales</span>
    </a>

    <!-- Botón mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Offcanvas -->
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
    >
      <div class="offcanvas-header">
        <div class="d-flex align-items-center gap-2">
          <img
            src="../IMG/logo.jpeg"
            alt="Logo"
            width="30"
            height="30"
          />
          <span class="fw-semibold">CAZ Insumos Industriales</span>
        </div>

        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body">
        <!-- Links -->
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" href="../index.html">Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../servicios.html">Servicios</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../contacto.html">Contacto</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
            >
              Productos
            </a>

            <ul class="dropdown-menu dropdown-menu-dark dropdown-scroll">
              <li><a class="dropdown-item" href="../PRODUCTS/alambres.html">ALAMBRES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/accesorios.html">ACCESORIOS PARA SOLDADURA</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/auxiliares.html">AUXILIARES DE SOLDADURA</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/calefactor.html">CALEFACTOR</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/cintas.html">CINTAS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/compresores.html">COMPRESORES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/consumibles.html">CONSUMIBLES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/discos.html">DISCOS ABRASIVOS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/electrodos.html">ELECTRODOS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/embalajes.html">EMBALAJES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/equipos.html">EQUIPOS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/ferreteria.html">FERRETERÍA</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/filtros.html">FILTROS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/gases.html">GASES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/gomeria.html">GOMERÍA</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/herramientas.html">HERRAMIENTAS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/horno.html">HORNO</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/izajes.html">IZAJES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/paneles.html">PANELES SOLARES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/proteccion.html">PROTECCIÓN PERSONAL</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/reguladores.html">REGULADORES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/resortes.html">RESORTES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/soldadoras.html">SOLDADORAS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/sopleteria.html">SOPLETES & REGULADORES</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/torchas.html">TORCHAS & RESPUESTOS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/varillas.html">VARILLAS</a></li>
              <li><a class="dropdown-item" href="../PRODUCTS/viales.html">VIALES</a></li>
            </ul>
          </li>
        </ul>

        <!-- Buscador -->
        <form class="d-flex mt-3" role="search" id="searchForm">
          <input
            class="form-control me-2"
            type="search"
            id="searchInput"
            placeholder="Buscar"
          />
          <button class="btn btn-danger" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</nav>
